extends ../layout

block content
  include ../mixins/index

  input#csrf(type='hidden', name='_csrf', value=token)
  mixin flash-message(messages)
  table.table.table-striped
    - each article in docs
      tr(id=article.url)
        td: a(href="/article/#{article.url}")= article.title
        td: a(href="/article/#{article.url}/edit") Edit
        td: a.delete-button(href="#", data-url="/article/#{article.url}") Delete
        td= article._id
