extends ../layout

block content
  h1 Edit Image
  img#crop-target(src=doc.fullUrl())
  form.form-inline#crop-form(action="/image/#{doc.name}/version", method="POST")
    input(type='hidden', name='_csrf', value=token)
    input#w(type='hidden', name='w')
    input#h(type='hidden', name='h')
    input#x1(type='hidden', name='x1')
    input#x2(type='hidden', name='x2')
    input#y1(type='hidden', name='y1')
    input#y2(type='hidden', name='y2')
    select#sizes(name='type')
      - each info, type in imageTypes
        option(value=type, data-dimensions=JSON.stringify(info))= type
    | 
    button.btn(type='submit') New Version
    | 
    i.icon-question-sign#crop-help

  include ../mixins/form-helpers
  form.form-horizontal(action="/image/#{doc.name}", method="POST")
    legend Photo Information

    input#csrf(type='hidden', name='_csrf', value=token)
    input(type='hidden', name='_method', value='put')

    mixin errorBlock(errors)
    - if (messages.length > 0)
      .alert.alert-info
        ul
          - each message in messages
            li= message

    mixin text-control-group('caption', 'Caption', doc, errors)
    mixin text-control-group('location', 'Location', doc, errors)
    mixin text-control-group('photographer', 'Photographer', doc, errors)

    .control-group(class=(errors && ("date" in errors) ? "error": null))
      label.control-label(for="date")= "Date"
      .controls
        input.input-xlarge.datepicker#date(type='text', name='doc[date]')

    .form-actions
      button.btn.btn-large.btn-primary(type='submit') Submit
      | 
      button.btn.btn-large.btn-danger.delete-button(data-url="/image/#{doc.name}") Delete

  table.table.table-striped
    tr
      th Type
      th Image Version
      th Delete
    - each version in doc.versions
      tr
        td= version.type
        td: img(src=doc.fullUrl(version))
        td: a(href="#") Delete
