extends ../form-layout

block prepend content
  h1 Edit Image
  img#crop-target(src=doc.fullUrl)
  form.form-inline#crop-form(action="/image/#{doc.name}/version", method="POST")
    input(type='hidden', name='_csrf', value=token)
    input#x1(type='hidden', name='x1')
    input#x2(type='hidden', name='x2')
    input#y1(type='hidden', name='y1')
    input#y2(type='hidden', name='y2')
    select#sizes(name='type')
      - each info, type in imageTypes
        option(value=type, data-dimensions=JSON.stringify(info))= type
    | 
    button.btn(type='submit') New Version
    | 
    i.icon-question-sign#crop-help

block vars
  - var _form = {title: "Photo Information", method: "PUT", action: "/image/" + doc.name}

block fields
  include ../mixins/index
  include ../mixins/form-helpers

  mixin flash-message(messages)

  mixin text-control-group('caption', 'Caption', doc, errors)
  mixin text-control-group('location', 'Location', doc, errors)
  mixin text-control-group('photographer', 'Photographer', doc, errors)

  .control-group(class=(errors && ("date" in errors) ? "error": null))
    label.control-label(for="date")= "Date"
    .controls
      input.input-xlarge.datepicker#date(type='text', name='doc[date]', value=doc.date)

block append actions
  | 
  button.btn.btn-large.btn-danger.delete-button(data-url="/image/#{doc.name}", data-redirect="/image") Delete

block afterform
  table.table.table-striped
    tr
      th Type
      th Image Version
      th Delete
    - each version in doc.versions
      tr
        td= version.type
        td: img(src=version.fullUrl())
        td: a(href="#") Delete