extends ../layout

block content
  include ../mixins/index

  input#csrf(type='hidden', name='_csrf', value=token)
  mixin flash-message(messages)
  table.table.table-striped
    - each image in images
      tr(id=image._id)
        td= image.name
        td
          a(href="/image/#{image._id}/edit")
            img(src=image.fullUrl)
        td: a.delete-button(href="#", data-url="/image/#{image._id}") Delete
